bertopic
beautifulsoup4
docx
huggingface_hub
ipywidgets
matplotlib
nest_asyncio
numpy
pandas
playwright
plotly
pyarrow
requests
scipy
seaborn
sentence-transformers
scikit-learn
textblob
torch
tqdm
transformers
umap-learn
vaderSentiment
wordcloud